.main {
    /* background-color: whitesmoke; */
    background-image: url(../../images/logoGirl.jpeg);
    background-repeat: no-repeat;
}
.main__container{    
    margin: 0 auto;
    font-family: Inter,Arial,sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
}