.main {
    /* background-color: whitesmoke; */
    background-image: url(../../images/logoGirlBorderless.jpg);
    background-repeat: no-repeat;
    /* background-color: rgba(238, 223, 204, 0.7) */
    background-size: cover;
}
.main__container{    
    margin: 0 auto;
    font-family: Inter,Arial,sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
}