.about-school {
    /* background-color: whitesmoke; */
}

.about-school__container {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    color: black;
    padding-top: 10px;
    margin: 0 auto;
    max-width: 1280px;
}

.tab {
    list-style-type: none;
    column-gap: 26px;
    row-gap: 40px;
    padding-left: 0;
    padding-top: 130px;
    align-items: center;
}

.tab__items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 83px;
}

.tab__photo {
    padding-left: 0px;
    margin: 0;
    width: 400px;
    height: 270px;
    border-radius: 10px;
}

.tab__description {
    /* display: flex;
    flex-direction: column;
    position: relative; */
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    width: 460px;
    z-index: 3;
}

.tab__background {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFF7BE;
    border-radius: 30px;
    padding-top: 30px;
    padding-left: 20px;
    height: 110px;
    width: 480px;
    z-index: 2;
}

.tab__circle {
    background-image: url(../../images/circle.svg);
    margin-top: 40px;
    background-repeat: no-repeat;
    z-index: 1;
    background-size: cover;
    margin-bottom: 20px;
    background-size: contain;
    background-position-x: 320px;
    padding-right: 32px;
}

@media screen and (max-width: 1279px) {
    .about-project {
        padding-top: 0px;
    }

    .about-project__container {
        padding-top: 0px;
    }

    .tab {
        column-gap: 15px;
        margin: 0 50px 0 50px;
    }

    .tab__description {
        font-size: 12px;
    }

    .tab__photo {
        padding-bottom: 20px;
    }

}

@media screen and (max-width: 767px) {
    .about-project {
        padding-top: 10px;
    }

    .tab__photo {
        font-size: 18px;
        letter-spacing: -0.72px;
        padding-bottom: 15px;
    }

    .tab {
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        padding-top: 62px;
        margin: 0 18px 0 18px;
    }

    .tab__description {
        font-weight: 400;
        max-width: 284px;
        line-height: 16px
    }
}